<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.administrator.shaktiTransportApp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name="adapter.Controller"
        android:allowBackup="true"
        android:icon="@mipmap/ic_transport"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:enableOnBackInvokedCallback="true"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="activity.Pod.LrtransportImages"
            android:exported="false" />
        <activity
            android:name="activity.Pod.LrtransportList"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.Pod.ActivityPODSearchInfo"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.SplashActivity"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="activity.Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.Pod.ActivityUpdateSandFData"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.Pod.ActivityInvoiceGetInfo"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.Pod.NavigateOptionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.UpdateActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.ShowDocument"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.CustomerDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <service
            android:name="backgroundservice.SyncDataService"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="activity.RouteList"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.NewRoute"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.ApprovedRouteList"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.NewRfq"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.NewQuotation"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.DatePickeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.TimePickeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.GeocodingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.AssignedRfq"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.AssignedRfqVendor"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.Signature_View"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.OfflineDataReport"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.AddDeliveryBoyFormActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.AssignedDeliveryListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.AssignedDeliveryDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.VehicleApprovedActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.PartialLoadListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.PhotoViewerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.OfficerAssignedDeliveryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.OfficerAssignedDeliveryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.PartialLoadDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.ConfrmVehical"
            android:configChanges="orientation"
            android:label="Confirm Vehical"
            android:screenOrientation="portrait" /> <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_color" -->
        <!-- android:resource="@color/colorAccent" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_channel_id" -->
        <!-- android:value="@string/default_notification_channel_id" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_icon" -->
        <!-- android:resource="@drawable/logo" /> -->
        <!-- <service -->
        <!-- android:name="fcm.MyFirebaseMessagingService" -->
        <!-- android:enabled="true" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <!-- &lt;!&ndash; [END firebase_service] &ndash;&gt; -->
        <!-- <service -->
        <!-- android:name="fcm.MyJobService" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>